<template name="about">
  <div class="container">
    <dl class="dl-horizontal">
      <dt>{{i18n "about.madeBy"}}:</dt>
      <dd>Filip Lange (filip dot lange at gmail dot com)</dd>
      <dt>{{i18n "about.source"}}:</dt>
      <dd><a href="https://github.com/Godsmith/dinnerplan">
        https://github.com/Godsmith/dinnerplan
      </a></dd>
      <dt>{{i18n "about.roadmap"}}:</dt>
      <dd><a href="https://github.com/Godsmith/dinnerplan/issues">
        https://github.com/Godsmith/dinnerplan/issues
      </a></dd>
      <dt>{{i18n "about.bugReports"}}:</dt>
      <dd><a href="https://github.com/Godsmith/dinnerplan/issues">
        https://github.com/Godsmith/dinnerplan/issues
      </a></dd>
    </dl>
  </div>
</template>
