<template name="about">
  <div class="container">
    <dl class="dl-horizontal">
      <dt>Skapare</dt>
      <dd>Filip Lange</dd>
      <dt>E-mail</dt>
      <dd>filip.lange snabela gmail.com</dd>
      <dt>GitHub</dt>
      <dd><a href="https://github.com/Godsmith/dinnerplan">
        https://github.com/Godsmith/dinnerplan
      </a></dd>
      <dt>Roadmap</dt>
      <dd><a href="https://github.com/Godsmith/dinnerplan/issues">
        https://github.com/Godsmith/dinnerplan/issues
      </a></dd>
      <dt>Felrapporter</dt>
      <dd><a href="https://github.com/Godsmith/dinnerplan/issues">
        https://github.com/Godsmith/dinnerplan/issues
      </a></dd>
    </dl>
  </div>
</template>
