<template name="about">
  <div class="container">
    <dl class="dl-horizontal">
      <dt>Av:</dt>
      <dd>Filip Lange (filip dot lange at gmail dot com)</dd>
      <dt>Källkod:</dt>
      <dd><a href="https://github.com/Godsmith/dinnerplan">
        https://github.com/Godsmith/dinnerplan
      </a></dd>
      <dt>Roadmap:</dt>
      <dd><a href="https://github.com/Godsmith/dinnerplan/issues">
        https://github.com/Godsmith/dinnerplan/issues
      </a></dd>
      <dt>Felrapporter:</dt>
      <dd><a href="https://github.com/Godsmith/dinnerplan/issues">
        https://github.com/Godsmith/dinnerplan/issues
      </a></dd>
    </dl>
  </div>
</template>
