<template name="editMeal">
  <div>
    <form class="form-horizontal">
      {{#each mealProperties}}
        {{> mealProperty}}
      {{/each}}
      <button type="button" class="btn btn-default ok">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default cancel">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </form>
  </div>
</template>

<template name="mealProperty">
  <div class="form-group">
    <label for="{{id}}" class="col-sm-2">{{label}}</label>
    {{#if equals type 'textarea'}}
      <div class="col-sm-10">
        <textarea id="{{id}}" rows="1" class="form-control">{{value}}</textarea>
      </div>
    {{/if}}
    {{#if equals type 'rating'}}
      {{>ratings}}
    {{/if}}
  </div>
</template>

<template name="ratings">
  <div class="btn-group col-sm-8" data-toggle="buttons">
    {{#each numbers}}
        <label class="btn btn-default rating {{active}}">
          <input type="radio" name="options" autocomplete="off">
                 {{number}}
        </label>
    {{/each}}
  </div>
</template>
