<template name="editMeal">
  <div>
    <form class="form-horizontal">
      {{#each textareas}}
        {{> textarea}}
      {{/each}}
      <button type="button" class="btn btn-default ok">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-default cancel">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </form>
  </div>
</template>

<template name="textarea">
  <div class="form-group">
    <label for="{{id}}" class="col-sm-2">{{label}}</label>
    <div class="col-sm-10">
      <textarea id="{{id}}" rows="1" class="form-control">{{value}}</textarea>
    </div>
  </div>
</template>