<template name="plan">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-inline">
          <div class="form-group">
            <input type="week" class="form-control" id="inputFirstWeek"
                   value="{{firstWeek}}">
          </div>
          <div class="form-group">
            <label for="inputNumberOfWeeks">och</label>
            <input type="number" min="1" max="12" class="form-control" id="inputNumberOfWeeks"
                   value="{{numberOfWeeks}}">
            <label for="inputNumberOfWeeks">veckor framåt</label>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          {{#each weeks}}
            {{> week}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{> editMeal }}
</template>
