<template name="tools">
  <div class="container">
    <h2>{{i18n "tools.export"}}</h2>
    <button type="button" class="btn btn-default" id="exportButton">{{i18n "tools.export"}}</button>
    <div class="form-group">
      <textarea class="form-control" rows="5" id="exportTextarea"></textarea>
    </div>
    <!--
    <h2>{{i18n "tools.import"}}</h2>
    <div class="form-group">
      <textarea class="form-control" rows="5" id="importTextarea"></textarea>
    </div>
    <button type="button" class="btn btn-default" id="importButton">{{i18n "tools.import"}}</button>
    -->
  </div>
</template>
